@import 'src/styles/lib/variables';
@import 'src/styles/lib/mixins';

.card-body {
  padding: 0.9375rem 20px;
  flex: 1 1 auto;
  -webkit-box-flex: 1;
  position: relative;
}

.card-body-background {
  position: relative;
  z-index: 2;
  min-height: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 440px;
  margin: 0 auto;
}

.card-body-plain {
  padding-left: 5px;
  padding-right: 5px;
}

.card-body-form-horizontal {
  padding-left: 15px;
  padding-right: 15px;
  & form {
    margin: 0;
  }
}

.card-pricing {
  padding: 15px !important;
  margin: 0 !important;
}

.card-body-color {
  border-radius: 6px;
  & h1,
  & h2,
  & h3 {
    & small {
      color: rgba($white, 0.8);
    }
  }
}

.card-body-profile {
  margin-top: 15px;
}

.card-body-calendar {
  padding: 0 !important;
}
