@import 'src/styles/lib/variables';
@import 'src/styles/lib/mixins';

.landing-page-wrapper {
  height: auto;
  min-height: 100vh;
  position: relative;
  top: 0;
}

.landing-page-full-page {
  padding: 120px 0;
  position: relative;
  min-height: 100vh;
  display: flex !important;
  margin: 0;
  border: 0;
  color: $white;
  align-items: center;
  background-size: cover;
  background-position: center center;
  height: 100%;
  @include media-breakpoint-down('sm') {
    min-height: 700px !important;
  }
  & footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none !important;
  }
  &::before,
  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
