@import 'src/styles/lib/variables';
@import 'src/styles/lib/mixins';

.footer-block {
}

.footer-branding {
  margin: 0;
  @include font-size(14 / 16 * $defaultRem);
  padding: 15px;
}

.footer-footer {
  bottom: 0;
  border-top: 1px solid map-get($grays, 15);
  padding: 15px 0;
  z-index: 4;
}

%footer-container-extender {
  @include make-container();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-up('xl') {
    flex-direction: row;
  }
}

.footer-container {
  @extend %footer-container-extender;
  @each $key, $value in $container-max-widths {
    @include media-breakpoint-up($key) {
      width: $value;
    }
  }
}

.footer-container-fluid {
  @extend %footer-container-extender;
}

.footer-a {
  color: $secondary;
  text-decoration: none;
  background-color: transparent;
}

.footer-list {
  margin-bottom: 0;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-breakpoint-up('md') {
    flex-direction: row;
  }
}

.footer-inline-block {
  display: inline-block;
  padding: 0;
  width: auto;
}

.footer-white-color {
  &,
  &:hover,
  &:focus {
    color: $light;
  }
}
