@import 'src/styles/lib/variables';
@import 'src/styles/lib/mixins';

@mixin card-header-classes() {
  &.card-header-plain,
  &.card-header-image,
  &.card-header-sign-up,
  &.card-header-icon,
  &.card-header-stats,
  &.card-header-primary,
  &.card-header-secondary,
  &.card-header-danger,
  &.card-header-warning,
  &.card-header-success,
  &.card-header-info {
    @content;
  }
}

@mixin card-header-color-classes() {
  &.card-header-primary,
  &.card-header-secondary,
  &.card-header-danger,
  &.card-header-warning,
  &.card-header-success,
  &.card-header-info {
    @content;
  }
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 0;
  background: transparent;
  z-index: 3 !important;
  @include card-header-classes() {
    margin: 0 15px;
    padding: 0;
    position: relative;
    color: $white;
  }
  &:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  @include card-header-color-classes() {
    &:not(.card-header-icon):not(.card-header-image):not(.card-header-text) {
      border-radius: 3px;
      margin-top: -20px;
      padding: 15px;
    }
  }
  &.card-header-stats svg {
    @include font-size(36 / 16 * $defaultRem);
    line-height: 56px;
    text-align: center;
    width: 36px;
    height: 36px;
    margin: 10px 10px 4px;
  }

  &.card-header-stats {
    @include icon-classes() {
      @include font-size(36 / 16 * $defaultRem);
      line-height: 56px;
      width: 56px;
      height: 56px;
      text-align: center;
      overflow: unset;
      margin-bottom: 1px;
    }
    &.card-header-icon {
      text-align: right;
    }
  }
  &.card-header-image {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
  }
}

.card-header-plain {
  margin-left: 0;
  margin-right: 0;
  &.card-header-image {
    margin: 0 !important;
  }
}

.card-header-image {
  position: relative;
  padding: 0;
  z-index: 1;
  & img {
    width: 100%;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba($black, 0.24),
      0 8px 10px -5px rgba($black, 0.2);
  }
  & a {
    display: block;
  }
}

.card-header-contact {
  margin: 0 15px;
  margin-top: -20px;
}

.card-header-sign-up {
  margin: -40px 20px 15px;
  padding: 20px 0;
  width: 100%;
}

.card-header-stats {
  & .card-header-icon {
    text-align: right;
  }
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin: 0 !important;
  }
}

.card-header-icon {
  @include card-header-color-classes() {
    background: transparent;
    box-shadow: none;
  }
  @include icon-classes() {
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
  }
  & svg {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 33px;
    margin: 5px 4px 0;
  }
}

.card-header-text {
}

@each $key, $value in $theme-colors {
  .card-header-#{$key} {
    color: $white;
    &:not(.card-header-text):not(.card-header-icon) {
      background: linear-gradient(
        60deg,
        lighten($value, 2.5%),
        darken($value, 2.5%)
      );
      box-shadow: 0 4px 20px 0 rgba($black, 0.14),
        0 7px 10px -5px rgba($value, 0.4);
    }
  }
}
